<div class="countdown">
  <div class="countdown-main">
    <div class="counter-text-main">
      <span>{{ days | number: '2.0' }}</span>
      <span>:</span></div>
    <div class="counter-text">DAYS</div>
  </div>
   <div class="countdown-main">
    <div class="counter-text-main"><span></span>{{ hours | number: '2.0'}} <span>:</span></div>
    <div class="counter-text">HOURS</div>
   </div>
    <div class="countdown-main">
      <div class="counter-text-main"><span></span>{{ minutes| number: '2.0' }} <span>:</span></div>
      <div class="counter-text">MINS</div>
    </div>
    <div class="countdown-main">
      <div class="counter-text-main"><span></span>{{ seconds| number: '2.0' }}</div>
      <div class="counter-text-last">SECS</div>
    </div>
  </div>
